//$mainBlack: #00003f;
$mainBlack: #1e1e35;
$mainBlue: #004445;
$mainRain: #2c7873;
//$mainGreenary: #ffffff;
$mainGreenary: #f1eaea;
$mainWhite: #ffffff;
$mainBackground: #4d648d;
//$mainLightBlue: rgb(50, 186, 204);
$mainLightBlue: #fff;

$mobilePhone: 700px;
$mobilePhone2: 500px;
//50312f