@import "../../commonStyles/variables";

.Main { 
    width: 80%;
    height: 100%;
    margin: 7rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media(max-width: $mobilePhone){
    .Main{
        width: 90%;
    }
}