@import "../../commonStyles/variables";

.MainArea{
    min-height: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    //background-color: #eed6e1;
    //background: url('../../assets/images/back-img3.png');
    background: url('../../assets/images/bck12.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.Main { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
}
