@import "../../../../commonStyles/variables";

.NavigationItem {
    padding: 16px 30px;
    list-style: none;
    font-size: 1.2rem;
    height: 100%;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;

    &:hover,
    &:active{
        background-color: #000000;
        color: $mainWhite;
    }

    a{
        text-decoration: none;
        color: $mainGreenary;

    }
}
