@import '../../../commonStyles/variables';

.Button {
    padding: 0.5rem 3rem;
    display: block;
    margin: 0 auto 5rem auto;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.2rem;
    background-color: $mainGreenary;
    color: $mainBlack;

    &:hover{
        background-color: #000000;
        color: $mainWhite;
    }
}