@import '../../commonStyles/variables';

.Profile{
    color: $mainWhite;
    h2{
        text-transform: uppercase;
        letter-spacing: 5px;
        margin: 2rem 1rem;
        text-align: center;
        font-size: 2em;
    }
    li{
        list-style: none;
        margin: 1rem 0;
    }

    li p{
        margin: 1rem 0;
        padding-bottom: 15px;
        border-bottom: 1px solid $mainWhite;
    }
}

@media(max-width: $mobilePhone2){
    .Profile{
        h2{
            font-size: 1.5rem;
        }
        li{
            font-size: 0.9rem;
        }
    }
}